[user]
	name = syunta
	email = kitagawa@timedia.co.jp
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[alias]
  lg = log --graph --decorate --pretty=oneline --abbrev-commit
  dcommit = svn dcommit --rmdir
[rerere]
	enabled = true
[ghq]
	root = ~/src
[url "git@github.com:"]
    insteadOf = https://github.com/
